#ac {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: ac;
}

#sign {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: plus-minus;
}

#percentage {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: percentage;
}

#division {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: division;
}

#seven {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: seven;
}

#eight {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: eight;
}

#nine {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: nine;
}

#multiplication {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: multiplication;
}

#four {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: four;
}

#five {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: five;
}

#six {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: six;
}

#subtraction {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: minus;
}

#one {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: one;
}

#two {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: two;
}

#three {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: three;
}

#addition {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
  grid-area: plus;
}

#zero {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: zero;
}

#dot {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
  grid-area: dot;
}

#equal {
  -ms-grid-row: 6;
  -ms-grid-column: 4;
  grid-area: equal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

button {
  font-size: 4.8rem;
  border-style: solid;
  border-color: #f5f5f5;
  padding: 2rem;
  text-align: center;
  border-radius: 20px;
  font-weight: 100;
  -webkit-box-shadow: 0px 2px 4px rgba(33, 33, 33, 0.25);
          box-shadow: 0px 2px 4px rgba(33, 33, 33, 0.25);
}

main {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  gap: 10px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1.5fr (1fr)[5];
      grid-template-rows: 1.5fr repeat(5, 1fr);
      grid-template-areas: "display display display display" "ac plus-minus percentage division" "seven eight nine multiplication" "four five six minus" "one two three plus" "zero zero dot equal";
}

main header {
  background-color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  color: white;
  font-size: 6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 3rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: display;
  overflow: hidden;
  word-wrap: break-word;
}

main .action {
  background-color: #3d5afe;
  color: #fafafa;
}

main .number {
  background-color: #fafafa;
}
/*# sourceMappingURL=style.css.map */