* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  font-family: "Inconsolata", monospace;
}

button {
  font-size: 4rem;
  font-weight: 300;
  color: #444a66;
  border-style: none;
  padding: 2rem;
  text-align: center;
}

main {
  background-color: #1b191c;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  width: 100%;
  gap: 1px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1.5fr (1fr)[5];
      grid-template-rows: 1.5fr repeat(5, 1fr);
      grid-template-areas: "display display display display" "ac plus-minus percent division" "seven eight nine multiplication" "four five six minus" "one two three plus" "zero zero dot equal";
}

main #display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  color: white;
  font-size: 6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 3rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: display;
  overflow: scroll;
  word-wrap: break-word;
}

main #ac {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: ac;
}

main #sign {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: plus-minus;
}

main #percentage {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: percent;
}

main #division {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: division;
}

main #seven {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: seven;
}

main #eight {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: eight;
}

main #nine {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: nine;
}

main #multiplication {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: multiplication;
}

main #four {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: four;
}

main #five {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: five;
}

main #six {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: six;
}

main #subtraction {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: minus;
}

main #one {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: one;
}

main #two {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: two;
}

main #three {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: three;
}

main #addition {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
  grid-area: plus;
}

main #zero {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: zero;
}

main #dot {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
  grid-area: dot;
  font-weight: 600;
}

main #equal {
  -ms-grid-row: 6;
  -ms-grid-column: 4;
  grid-area: equal;
}

main .dark-gray {
  background-color: #c9c8cd;
}

main .gray {
  background-color: #e0e1e6;
}

main .purple {
  background-color: #5d4980;
  color: white;
}
/*# sourceMappingURL=style.css.map */