@import "grid-areas";
@import "global";
@import "variables";
main {
  display: flex;
  flex-direction: column;
  height: 100vh;

  header {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
    overflow: hidden;
    height: 30vh;

    #display {
      width: 90%;
      text-align: right;
      color: #fafafa;
      font-size: 6.4rem;
      word-wrap: break-word;
    }
  }
  div {
    margin: 10px;
    height: 70vh;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "ac plus-minus percentage division"
      "seven eight nine multiplication"
      "four five six minus"
      "one two three plus"
      "zero zero dot equal";
    .action {
      background-color: #3d5afe;
      color: #fafafa;
    }

    .number {
      background-color: #fafafa;
    }
    #dot {
      background-color: #fafafa;
      color: #212121;
    }
  }
}
