@import "grid-areas";
@import "global";

main {
  display: grid;
  height: 100vh;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1.5fr repeat(5, 1fr);
  grid-template-areas:
    "display display display display"
    "ac plus-minus percentage division"
    "seven eight nine multiplication"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal";
  header {
    background-color: #212121;
    display: flex;
    flex-direction: column;
    text-align: right;
    color: white;
    font-size: 6rem;
    justify-content: center;
    margin-right: 3rem;
    grid-area: display;
    overflow: hidden;
    word-wrap: break-word;
    #display {
    }
  }

  .action {
    background-color: #3d5afe;
    color: #fafafa;
  }

  .number {
    background-color: #fafafa;
  }
}
